/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-bottom: 45px;
  text-align: center;
}

section p{
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  
}

.container {
  width: 100%;
  background-color: white;
  position: absolute;
  padding-top: 10px;


}
 section h2{
    border: 1px solid black;
    width: 150px;
    height: 40px;
    text-align: center;
    float: right;
    margin-top: 0;
    color: white;
    background-color: red;
}

#chicken {
  background-color: lightpink;
  position: relative;
  border: 1px solid black;
  color: black;
  
}
#beef {
  background-color: orangered;
  position: relative;
  border: 1px solid black;
  color: white;
  
}
#sushi {
  background-color: yellow;
  position: relative;
  border: 1px solid black;
  color: black;
  
  
}
/* Simple Responsive Framework. */

.row {
  width: 80%;
  margin: auto;

}

/********** DESKTOP VERSION **********/
@media (min-width: 992px) {
.col-lg{
  float: left;
  width: 31%;
  height: auto;
  border: 1px solid red;
  margin-right: 10px;
    }
}

/********** TABLET VERSION **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1{
        width: 47%;
        height: auto;
        float: left;
        border: 1px solid red;
        margin-top: 10px;
        margin-right: 10px;
    }
    .col-md-2{
        float: left;
        border: 1px solid red;
        width: 95.5%;
        margin-top: 10px;
    }
  
}
/********** MOBILE VERSION **********/
@media (max-width: 767px) {

       .col-sm{
        width: 98%;
        margin-bottom: 10px;
        float: left;
        border: 1px solid red;
    }
}